<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i> WanderLust
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">All Listings</a>
                <% if (currUser) { %>
                    <a class="nav-link" href="/listings/new">Add New Listing</a>
                <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (currUser) { %>
                    <span class="navbar-text me-3">
                        Welcome, <%= currUser.username %>!
                    </span>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } else { %>
                    <a class="nav-link" href="/signup">Sign Up</a>
                    <a class="nav-link" href="/login">Login</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>